<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthCare">
        <activity
            android:name=".Activities.ClientActivities.MyBookingActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ClientActivities.BookAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ClientActivities.DoctorDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ClientActivities.FindDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ClientActivities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ClientActivities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ClientActivities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>